.register-container {
    background: linear-gradient(to right, #81a193, #423f61f);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.register-form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-form h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #03dac5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.register-form button:hover {
    background-color: #028e82;
}

.register-container p {
    margin-top: 15px;
    font-size: 1em;
}